// Copyright Badirra / Mahmoud Salheen — All rights reserved.
// Author: Mahmoud Salheen
// License OPL-1 (Odoo Proprietary License v1.0) — see the LICENSE file.

.o_badirra_list_renderer {
    .o_list_table {
        > thead > tr > th {
            color: $o-gray-700;
        }

        > tbody > tr:hover {
            background-color: $o-gray-200;
        }
    }
}

.o_badirra_list_density_toggle {
    .o_badirra_density_btn {
        border-color: $o-gray-200;
        background-color: #171B24;
        color: $o-gray-700;

        &:hover {
            border-color: $o-brand-badirra-accent;
            color: $o-brand-badirra-accent;
        }
    }
}
