// Copyright Badirra / Mahmoud Salheen — All rights reserved.
// Author: Mahmoud Salheen
// License OPL-1 (Odoo Proprietary License v1.0) — see the LICENSE file.

.o_loading_indicator {
    background-color: $o-brand-badirra-accent;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .45);
}

.o_blockUI:not(.o_blockUI_invisible) {
    background: rgba(#000, .65);
}
